@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.animate-fade-in {
  animation: fadeInZoom 0.8s ease;
}

.animate-fade-in-opacity-only {
  animation:fadeInOnly 0.8s ease
}

@keyframes border-fade {
  from { border-color: rgba(229, 208, 172, 0); }
  to { border-color: rgba(229, 208, 172, 1); }
}

.animate-border-fade {
  animation: border-fade 0.8s ease forwards;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.94);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInOnly {
  from{opacity:0;
  }
  to{opacity:1
  }
}
